<button (click)="printable = !printable">Toggle message</button>
<h1 *ngIf="printable">{{ message }}</h1>
<p>ContactListComponent -> printable: {{ printable }}</p>
<div>
    <button class="btn" (click)="getContact()">
        Get contacts
    </button>
</div>
<div *ngIf="contacts" class="tp-block--flex">
    <div *ngFor="let contact of contacts; let i = index; let fst = first; trackBy: contactTrackByFn" class="tp-block--1-4"
        [ngClass]="{'tp-special': fst}" >
        <h3 class="h-username" [style.line-height.rem]="printable ? 5.8 : 1.2" [ngStyle]="{'fontSize.rem': 2.5}">
            {{ contact.name }} item no. {{ i }}
        </h3>
        <div>
            <!--<img class="h-avatar" *ngIf="contact.avatar?.url" [src]="contact.avatar?.url" alt="Avatar of {{ contact.name }}">-->
            <hoang-switches [(checked)]="contact.avatar.round"
           >

            </hoang-switches>
            <hoang-contact-detail *ngIf="contact.avatar?.url"
                [avatar-url]="contact.avatar?.url"
                [round]="contact.avatar?.round">
            </hoang-contact-detail>
        </div>
    </div>
</div>

<div>
    <button (click)="changeTab(1)" class="btn" [ngClass]="{active: tabIndex == 1}">Tab 1</button>
    <button (click)="changeTab(2)" class="btn" ngClass="btn-default btn-awesome">Tab 2</button>
    <button (click)="changeTab(3)" class="btn" [ngClass]="['btn-default', 'btn-awesome']">Tab 3</button>

    <!--<button (click)="changeTab(1)" [class]="tabIndex == 1 ? 'btn active' : 'btn'">Tab 1</button>
    <button (click)="changeTab(2)" [class]="tabIndex == 2 ? 'btn active' : 'btn'">Tab 2</button>
    <button (click)="changeTab(3)" [class]="tabIndex == 3 ? 'btn active' : 'btn'">Tab 3</button>-->
</div>
<div [ngSwitch]="tabIndex">
    <ng-template [ngSwitchCase]="1">
        <div>Tab content 1</div>
        <p>lorem</p>
    </ng-template>
    <ng-template [ngSwitchCase]="2">
        <div>Tab content 2</div>
    </ng-template>
    <ng-template [ngSwitchCase]="3">
        <div>Tab content 3</div>
    </ng-template>
</div>