<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!!
  </h1>
</div>
<div>
  <!--<input type="text" (change)="onChange($event)">-->
  <input type="text" [ngModel]="message" (ngModelChange)="message = $event" (keyUp.enter)="onClick()">
  <button (click)="onClick()">Button...</button>
</div>
<ul>
  <li *ngFor="let message of messages">
    {{ message }}
  </li>
</ul>
<p>Data from App Component</p>
<hoang-contact-list>Loading...</hoang-contact-list>
